/* reset */

a {
    color: inherit;
    text-decoration: none;
}

/* common style */

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

body {
    background: #fff;
    font-size: 20px;
    color: #222328;
    font-family: '맑은고딕', sans-serif;
}

#wrapper {
    width: 80%;
    margin: 0 auto;
}

/* header style */
header {
    width: 20%;
    margin-right: 5%;
    float: left;
}

header .logo {
    background: tomato;
    margin: 30px 0;

}

header .logo img {
    width: 100%;
}

header .menu {
    background: aqua;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

header .menu .navi li {
    background: #222328;

}

header .menu .navi li a {
    color: #fff;
    display: block;
    width: 100%;
    padding: 10px 0;

}

header .menu .navi li a:hover {
    color: #ff0;
    background: #930930;
}


/* container style */

.container {
    width: 75%;
    float: right;

}

/* > imgslide style */

.container .imgslide {
    position: relative;
}

.container .imgslide img {
    width: 100%;
}

.container .imgslide .imgtext {
    display: block;
    background: rgba(40,40,40,0.3);
    width: 300px;
    padding: 15px 0;
    text-align: center;
    color: #fff;
    font-weight: 700;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
}

/* > main contents style */
.container .contents {
    margin-top: 10px;

}
/* >>notice style */
.container .contents .notice {
    width: 38%;
    float:left;
    margin-right: 1%;
}

.container .contents h2 {
    width: 80px;
    background: #000;
    color : white;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    padding: 8px;    
}

.container .contents .notice ul {
    font-size: 14px;
    border-top: 1px solid #ccc;

}

.container .contents .notice ul li {
    padding: 8px 0;
}

.container .contents .notice ul li:nth-child(even) {
    background: #ccc;
}

.container .contents .notice ul li:hover a {
    font-weight: 700;
}

.container .contents .notice ul li span {
    float:right;

    /* float, position 속성을 쓰는순간 자동으로 display:block;이 부여됨 */
}

/* >>gallery style */
.container .contents .gallery {
    width: 38%;
    float:left;
    margin-right: 3%;
}

.container .contents .gallery ul{    
    border-top: 1px solid #ccc;
    padding: 15px 8px;
}

.container .contents .gallery ul li {
    width: 30%;
    margin-right:5%;
    float : left;
}
.container .contents .gallery ul li:last-child {
    margin-right:0%;
}

.container .contents .gallery ul li:hover {
    opacity: 0.5;
}


/* shortcut style */
.container .contents .shortcut {  
    width: 20%;
    float:right;
    position: relative;

}

.container .contents .shortcut img {
    width: 100%;
}

.container .contents .shortcut span {
    width: 100px;
    background: rgba(40,40,40,0.4);
    color: white;
    font-weight: 700;
    padding: 5px 10px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

/* footer style */
.container footer {
    background: gray;
    margin-top: 10px;
    padding: 10px;

    position: relative;
}

.container footer .copy {

    width: 80%;
    float:left;
    font-size: 15px;
    text-align: center;


    position:absolute;
    top: 50%;
    transform: translateY(-50%);

}



.container footer .site {
    width: 20%;
    float:right;

}

.container footer .site .sns ul li {
    width: 28%;
    margin-right: 4%;
    float:left;
}

.container footer .site .sns ul li:first-child {
    margin-left: 4%;
}

.container footer .site .sns ul li img {
    width: 100%;
}

.container footer .site .familysite {
    margin-top: 5px;
}

.container footer .site .familysite select {
    width: 100%;
    height: 30px;
}

