@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

/* reset */
a {
    color: inherit;
    text-decoration: none;
}

button,
input {
    outline: none;
    border: none;
}

/* common style */
.wrap {
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
}

.hide {
    display: none !important;
}

/* header style */
header {
    /* background: red; */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header .inner-header {
    /* background: orange; */
    width: 92%;
    margin: 0 auto;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .inner-header .logo {
    /* background: tomato; */
    width: 150px;
    flex: 1;
}

header .inner-header .logo a {
    display: block;

}

header .inner-header .logo a img{
    height: 60px;    
}

header .inner-header .intro-text {
    /* background: greenyellow; */
    flex: 4;
    color: #fff;
    text-transform:uppercase;
    font-weight: 700;
    margin-left: 40px;
}

header .inner-header .menu-open {
    /* background: skyblue; */
    flex: 1;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;    
}

header .inner-header .menu-open .lnr-menu {
    font-size: 33px;
    margin-left: 15px;
}

/* section visula style */
section.visual .slide li {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    
}

section.visual .slide li img {
    width: 100%;
    position: absolute;
    top: -150px;
}

section.visual .slide li .txt {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #fff;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
}

section.visual .slide li .txt h3 {
    margin: 30px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 1.3;
}

section.visual .slide li .scroll {
    /* background: orange; */
    position: absolute;
    left: 50px;
    bottom: 10%;
    font-size: 14px;
    font-weight: 700;
    color: #ccc;
    transform: rotate(-90deg);
}

/* section contents style */
/* >.main-text */
section.contents {
    background: #1b1b1b;
    color: #fff;
    padding: 120px 0 ;
}

section.contents .main-text {
    /* background: tomato; */
    width: 65%;
    margin: 0 auto 500px;
    font-size: 23px;
    display: flex;
    position: relative;

}

section.contents .main-text::before {
    content: '';
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #ffec03;
    position: absolute;
    left: 70px;
    top: 100px;
}
section.contents .main-text::after {
    content: 'â€';
    font-size: 300px;
    position: absolute;
    left: 0px;
    top: 100px;
}
section.contents .main-text h3 {
    /* background: red; */
    flex : 1 ;
    font-weight: 700;
}

section.contents .main-text p {
    /* background: blue; */
    line-height: 1.4;
    flex : 1.5 ;
}

section.contents .main-text p span {
    display: block;
    margin-top: 30px;
    color: #999;
}

/* > .project */
section.contents .project .top {
    /* background: tomato; */
    width: 65%;
    margin: 200px auto 60px;
    display: flex;
    justify-content: space-between;
}
section.contents .project .top h3 {
    /* background: red; */
    font-size: 35px;
    font-weight: 700;
}
section.contents .project .top a {
    /* background: blue; */
    font-size: 18px;
}
section.contents .project ul {
    /* background: tomato; */
    display: flex;
    justify-content: space-evenly;
}
section.contents .project ul li {
    width: 24%;
    height: 400px;
    overflow: hidden;
    position: relative;
}
section.contents .project ul li a {
    display: block;
}

section.contents .project ul li a::before {
    content: '';
    width: 0;
    height: 100%;
    background: rgba(27, 27, 27, .9);
    position: absolute;
    transition: 0.6s;
}

section.contents .project ul li a:hover::before {
    width: 100%;
}

section.contents .project ul li a img {
    width: 100%;
}

section.contents .project ul li a .name {
    width: 250px;
    padding: 15px;
    box-sizing: border-box;
    background: #1b1b1b;
    font-size: 22px;
    text-align: right;
    position: absolute;
    right: 10px;
    bottom: 10px;
    opacity: 0;
}
section.contents .project ul li a:hover .name {
    opacity: 1;
    animation: show-name-box 1s;
}
@keyframes show-name-box {
    0% {
        opacity: 0;
        bottom: -30px;
    }
    100% {
        opacity: 1;
        bottom: 10px;
    }
}

section.contents .project ul li a .name span {
    display: block;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
}

/* > .partner */
section.contents .partner {
    /* background: tomato; */
    width: 65%;
    margin: 170px auto 100px;
}
section.contents .partner h3 {
    font-size: 17px;
    margin-bottom: 80px;
}
section.contents .partner ul {
    /* background: orange; */
    display: flex;
    flex-wrap: wrap;
}
section.contents .partner ul li {
    width: 25%;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.contents .partner ul li img {
    opacity: 0.3;
    transition: 0.3s;
}
section.contents .partner ul li img:hover {
    opacity: 1;
}

/* contact style */
section.contents .contact {
    width: 90%;
    background: url('../img/contact.jpg') no-repeat center/cover fixed;
    padding: 220px 0;
}
section.contents .contact .inner {
    width: 70%;
    margin: 0 auto;
    font-size: 17px;
    line-height: 1.4;
}
section.contents .contact .inner .tel {
    font-size: 55px;
    font-weight: 700;
    margin: 50px 0;
}

/* footer */
footer {
    background: #1b1b1b;
    color: #999;
    padding: 0 80px 80px;
}
footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer ul li:nth-child(2) {
    color: #eee;
    font-size: 16px;
    line-height: 2;
}
footer ul li:nth-child(2) span {
    font-weight: 700;
    margin-right: 10px;
    color: #999;
}

footer .go-top {
    color: #fff;
    font-size: 50px;
    position: fixed;
    right: 50px;
    bottom: 60px;    
}